/* Cyber CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f5361;
    padding: 5px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #d5e6eb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 40px;
    box-shadow: inset 0 6px 5px rgba(0, 0, 0, 0.2);
}

h1, h3, h4, .input-group label, button, .result, .formula-box, .occupancy-box, .occupancy-info {
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    color: #31849B;
    text-align: center;
    margin-bottom: 1px;
}

h3 {
    color: #31849B;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    color: #9b3184;
    text-align: center;
    margin-bottom: 1px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    color: #13343e;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.input-group input, input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #31849B;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    background-color: #31849B;
    color: white;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #9b3184;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #9b4831;
}

.result, .formula-box, .occupancy-box {
    margin-top: 20px;
    background-color: #eaf4f9;
    color: #31849B;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #31849B;
}

.formula-box, .occupancy-box {
    font-size: 16px;
}

.occupancy-info {
    color: #9b3184;
    font-size: 17px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Switch Style */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #9b4831;
}

input:focus + .slider {
    box-shadow: 0 0 1px #31849B;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Responsive adjustments */
@media (max-width: 640px) {
    .container {
        padding: 15px;
    }
}

/* Image Resizing */
#round-image1, #round-image2 {
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 5px;
}

#pool-shape-image {
    width: 100%;
    max-width:165px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/* Further adjustments for smaller screens */
@media (max-width: 600px) {
    #round-image1, #round-image2 {
        max-width: 80px;
    }

    #pool-shape-image {
        max-width: 150px;
    }
}

#adjusted-occupancy-box {
    color: #9b3184;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Hidden Boxes */
.hidden {
    display: none;
}

/* Occupancy Calculation Info Styling */
.occupancy-calculation-info ul {
    list-style-type: disc;
    padding-left: 20px;
}

.occupancy-calculation-info li {
    color: #13343e;
}
#adjusted-occupancy-container {
    padding: 5px;
    margin-top: 10px; /* Adjust spacing around the container as needed */
    text-align: center; /* Center the content */
    /* Add any additional container-specific styles here */
}

#adjusted-occupancy-box {
    margin-top: 5px;
    background-color: #eaf4f9;
    color: #9b4831;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #31849B;
}
